* {box-sizing: border-box;
    margin: 0;
    padding:0;
}

.wdheader {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 40px; */
    background-color: blue;
    color: white;
    padding: 20px;
}

.card-body, .bg-primary {
    border-radius: 5px;
}

header, .forecast {
text-align: center;
font-size: 26px;
font-weight: 700;
}